@media (max-width: 992px) {
  .testimonial {
    transform: scale(0.95);
  }
  .rightSection .right {
    height: fit-content !important;
    gap: 1.5rem;
  }
}

@media (max-width: 767px) {
  .cardBody {
    gap: 1.5rem;
  }
  .cardBody.purple {
    background: url("./images/bg-pattern-quotation.svg") right 2rem top
        no-repeat,
      var(--Moderate-violet);
  }
  .purple,
  .blackishBlue,
  .right {
    height: fit-content !important;
  }
  .res-left-white,
  .darkGrayishBlue {
    height: fit-content !important;
  }
}
